Help Desk/Microsoft.Flow/flows/45932b75-5cb4-49fb-b4c8-15cf552d1bc2/definition.json
{"name":"568d34cb-6c13-4616-ac5b-257e2eb67089","id":"/providers/Microsoft.Flow/flows/568d34cb-6c13-4616-ac5b-257e2eb67089","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"00_DAMC_Tickets_Formulario_Retrasmisiones","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4776ce90-731b-41fa-97f6-c5bab47841cc","type":"User","tenantId":"eafff98e-79a5-4bb5-918f-0a7a14c4bbef"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-03T21:00:30.8882784Z","connectionKeySavedTimeKey":"2024-10-03T21:00:30.8882784Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Cuando_se_envía_una_respuesta_nueva":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"246e2c63-0c75-4e99-b732-c97416f586d0"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"jvn_6qV5tUuRjwp6FMS775DOdkcbc_pBl_bFurR4QcxUNVBXQVM2U1c2RTVWUzNPSU85QjY2MFhJVi4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Obtener_los_detalles_de_la_respuesta":{"runAfter":{},"metadata":{"operationMetadataId":"2e668efa-5eee-4b80-b56e-d217a3fc79b8"},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"jvn_6qV5tUuRjwp6FMS77_yrYMUclClKoSgOhMO9rydUNVBXQVM2U1c2RTVWUzNPSU85QjY2MFhJViQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Inicializar_variable":{"runAfter":{"Asignado_A":["Succeeded"]},"metadata":{"operationMetadataId":"f02dcfb2-8bc3-433a-ad4e-b7acce4ecdda"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ControlCaracteres","type":"object","value":"@outputs('Obtener_los_detalles_de_la_respuesta')"}]}},"Inicializar_variable_2":{"runAfter":{"Inicializar_variable":["Succeeded"]},"metadata":{"operationMetadataId":"7882b564-ca4a-4053-92ce-b80cb2c1b378"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorNombreTabla","type":"object"}]}},"Redactar":{"runAfter":{"Inicializar_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"ad2398da-d568-40f9-9434-28792964621d"},"type":"Compose","inputs":"@if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb9aaf26f59854b13836f40af28df8512'],'Discontinua'),length(split(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rfb9f6610db6e48dfb26e8bd22b1af29f'],',')),if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'],outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']),1,if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb75028776e824cc0a84a240d198eefbe'],'Diario'),add(int(div(sub(ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']),ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'])),864000000000)),1),if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb75028776e824cc0a84a240d198eefbe'],'Semanal'),int(div(add(int(div(sub(ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']),ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'])),864000000000)),0),7)),if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb75028776e824cc0a84a240d198eefbe'],'Mensual'),int(add(div(int(div(sub(ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']),ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'])),864000000000)),30),1)),if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb75028776e824cc0a84a240d198eefbe'],'Bimensual'),int(add(div(int(div(sub(ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']),ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'])),864000000000)),60),1)),if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb75028776e824cc0a84a240d198eefbe'],'Trimestral'),int(add(div(int(div(sub(ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']),ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'])),864000000000)),90),1)),if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb75028776e824cc0a84a240d198eefbe'],'Semestral'),int(add(div(int(div(sub(ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']),ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'])),864000000000)),180),1)),if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb75028776e824cc0a84a240d198eefbe'],'Anual'),int(add(div(int(div(sub(ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']),ticks(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'])),864000000000)),365),1)),0)))))))))\r\n"},"Inicializar_variable_3":{"runAfter":{"Inicializar_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"88b32dae-72a0-484e-bb75-129a96c32947"},"type":"InitializeVariable","inputs":{"variables":[{"name":"usuario","type":"integer"}]}},"Inicializar_variable_4":{"runAfter":{"Inicializar_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"d62d4735-c87d-4917-ad04-8413bf720dcc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SuperIT","type":"string"}]}},"Asignado_A":{"runAfter":{"Redactar":["Succeeded"]},"metadata":{"operationMetadataId":"0badded3-c32b-48b9-84ae-0310520116db"},"type":"Compose","inputs":"@if(equals(mod(triggerOutputs()?['body/resourceData/responseId'],3),0),'jdpena@superfinanciera.gov.co',if(equals(mod(triggerOutputs()?['body/resourceData/responseId'],3),2),'jdpena@superfinanciera.gov.co','jdpena@superfinanciera.gov.co'))"},"Inicializar_variable_6":{"runAfter":{"Obtener_los_detalles_de_la_respuesta":["Succeeded"]},"metadata":{"operationMetadataId":"666d1a36-07b0-4d19-8244-297ce8368dc7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tabla","type":"string","value":"TablaDatos"}]}},"Conmutador_3":{"runAfter":{"Inicializar_variable_4":["Succeeded"]},"cases":{"Caso":{"case":"PDF / XBRL","actions":{"Condición_1":{"actions":{"Crear_Nuevo_Elemento_Sharepoint":{"metadata":{"operationMetadataId":"aab2fc41-9078-453f-a2d8-15e5f5375cb5"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"f82d9649-c771-4088-8eb4-7458644fd542","item/FechaSolicitud":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/submitDate']","item/Solicitud":"PDF / XBRL","item/TipoSolicitud":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r23f45dd36ee247708b09ba12dc477f7a']","item/TipoEntidad":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6306ba87021c4bdaafc3fcf56fecb5fd']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/raef879d308f24f188a8c8b5c604d4733']}","item/CodigoEntidad":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r547229ed23524da08b47f4c9351aa806']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf5ca096153464755aa44434a36f2d13f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd63c2668c3794d3fa1aca6588e5f0e17']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r60617fbde6924e0bb01f272fabb5b12d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r2dc0b94c30774591b85da9d0aad73b58']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re2e863aecc774f7aad149f5cbaac0c70']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5070a250bd4d40019d8271c719366750']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r12d0b8ec534445c5a1dc4ac25575ca9a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc748d4519b6b434891e5236eecbf0e89']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r920fdf56c2ea4b95aa5fadcec8cb0dbc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r55d09b8803774328a4e439c80737b19d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r2981095a955d45cd947c8a75d583243b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r51eaecc9757746139c6514b074eba19b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r546a6224ba314616b551ffee18a108a1']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf2064dfc1d654a8ba9227c6730049fbb']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8c3a5efe2399425da96a185569a221bb']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ree50641609174f96bb3c6cfd3b9f1d11']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf61667f83ba04855a2e4ae9f5795f27f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1495cd3442a344308280acca4fcc77a4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb856ab6b1dde4777b45f04e0e49575ac']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf774026cb25e4feca63d3abf2a01ead4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd71f64a764a749c2b03e079a153c89e9']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r698819b15b584316a3807fd79bf50d94']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0f5bdaf8e5d2447e964614171d719f03']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9a88b3c511e6410fa864d155e248ea84']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb4b881427ade4dac88652319c20e1363']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd6220f3c04d848969ed73e6b1b8b1a6f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra898a77260ea42b88d7d1b81217eb54e']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0858209c316b4192b7fb9a431267256d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r13422973c4cb475fa3973b870bba231f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r88e333ccb592440ca68021cb9c1d9209']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/reca4595c2d7f496e8a53d23087c15e7d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r24b5e31c7c0c4cf994db6abb0fdff8a2']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r85adf291d578441fa702d429cd094a8d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb866c9b327f14d98b45b7c9e7f954229']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd106eb5902304609b74199744162dcfc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r015db3847c194d3589049730f344c5a3']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd1b7084e12ac4b8c832dba8ef5897c01']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb96930e2f1b7499085aa636644a75c5b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcdb1931c58dd4527a897a32bfc8a8c54']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0157255ec3754d8481185c14b8da5052']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5a710d91c3fc49a49ef3f0c1b60d3aa0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r82d6742b5f7640a5ba72d4ba324e95ce']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r3be92b1a2dd1458dadb63d426f6cb6d0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcc2e10ab0686401bb52e87f7a7444b67']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb08443115693426e864d9782e3e62ab7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re669ae5d62834eacb39a3f77b9c76c07']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rfad872f6f89f4238824bfbef3f7f0e1a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r609d57158b0f4d4d9dac64a872282c77']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re80b385aca2241d58fe46fada3a7cf92']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r05ed5b991a6049e4832244ae1d0f6819']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r38bbb6224e544303bcf32452506a9653']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6036389ccd24469fa694c8cf7d07be5c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r00eec15ef813469d98fef4c65fd3da82']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4467f84659444f96a3ea76e53a4ad797']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd019213c42c845a98629f438e3926380']}@{body('Obtener_los_detalles_de_la_respuesta')?['r560a92a4cae746faaf5040da1f6e7f00']}","item/Taxonomia":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r85e85d7f481f4bce808dd775e0e48d51']","item/GrupoNIFF":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r31798c3e89d4485eb994ca544b2f92aa']","item/Nivel/Value":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7354b648bbd2440fbbb0a8ea23900af6']","item/TipoNegocio":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc9f03ea9efcc4109b7670c8890958b25']","item/SuptipodeNegocio":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd5519037a263402fb62fa159d3adc4a4']","item/CodigoNegocio":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r27b553ddb33148c6836244544012c24a']","item/NombreNegocio":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4b56e3754c3d44e9ad643e40b98d2728']","item/Detalle":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9bf02661d2ae4303880afbce058d257f']","item/Usuario/Claims":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","item/Autorizadopor":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rfdaca9bf7c364e988e9c11b75ee4c900']","item/AsignadoA/Claims":"@outputs('Asignado_A')","item/NroRadicado":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r79a83c31287a48689bdb11cd1d917456']","item/TipoFormato/Value":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/reeeb2c1adcc045a08780a523e28c9d73']","item/Estado/Value":"Pendiente"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Enviar_correo_electrónico_(V2)_20":{"runAfter":{"Crear_Nuevo_Elemento_Sharepoint":["Succeeded"]},"metadata":{"operationMetadataId":"12434dda-8b63-4e10-8e8c-dde594bd236b"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud PDF-XBRL-@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/ID']}","emailMessage/Body":"<p><span style=\"font-family: arial\">Buen dia,<br>\n<br>\nLa solicitud de ha sido registrada exitosamente y se encuentra en Estado Pendiente<br>\n<br>\nSolicitud: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/Solicitud']}</span><span style=\"font-family: arial\"><br>\nTipo Solicitud:</span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/TipoSolicitud']}</span><span style=\"font-family: arial\"><br>\nTipo Entidad: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/TipoEntidad']}</span><span style=\"font-family: arial\"><br>\nCodigo Entidad: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/CodigoEntidad']}</span><span style=\"font-family: arial\"><br>\nNivel: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/Nivel/Value']}</span><span style=\"font-family: arial\"><br>\nTipo Negocio: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/TipoNegocio']}</span><span style=\"font-family: arial\"><br>\nSubtipo Negocio: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/SuptipodeNegocio']}</span><span style=\"font-family: arial\"><br>\nCodigo Negocio: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/CodigoNegocio']}</span><span style=\"font-family: arial\"><br>\nNombre Negocio: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/NombreNegocio']}</span><span style=\"font-family: arial\"><br>\nDetalle: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/Detalle']}</span><span style=\"font-family: arial\"><br>\nAsignado A: </span><span style=\"font-family: arial\">@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/AsignadoA/DisplayName']}</span><span style=\"font-family: arial\"><br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co<br>\n</span></p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Iniciar_y_esperar_una_aprobación":{"runAfter":{"Enviar_correo_electrónico_(V2)_20":["Succeeded"]},"metadata":{"operationMetadataId":"ec99104f-8fd7-45d9-8f7a-dcf47aae68c5"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Aprobar","Rechazar"],"WebhookApprovalCreationInput/title":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud PDF-XBRL-@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/ID']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/AsignadoA/Email']};;","WebhookApprovalCreationInput/details":"Datos de la Solicitud\n\nSolicitud: @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/Solicitud']}\nTipo Solicitud:@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/TipoSolicitud']}\nTipo Entidad: @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/TipoEntidad']}\nCodigo Entidad: @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/CodigoEntidad']}\nNivel: @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/Nivel/Value']}\nTipo Negocio: @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/TipoNegocio']}\nSubtipo Negocio: @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/SuptipodeNegocio']}\nCodigo Negocio: @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/CodigoNegocio']}\nNombre Negocio: @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/NombreNegocio']}\nDetalle: @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/Detalle']}\n","WebhookApprovalCreationInput/requestor":"@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/Usuario/Email']};;","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condición_12":{"actions":{"Aplicar_a_cada_uno_11":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación')?['body/responses']","actions":{"Actualizar_elemento_5":{"metadata":{"operationMetadataId":"bcc15e4f-c249-494d-baab-4ad763408fae"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"f82d9649-c771-4088-8eb4-7458644fd542","id":"@outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/ID']","item/Estado/Value":"Aprobado","item/SuperIT":"@items('Aplicar_a_cada_uno_11')?['comments']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"0827f318-d964-4402-a73a-8e0f2775e5c2"},"type":"Foreach"},"Enviar_correo_electrónico_(V2)_21":{"runAfter":{"Aplicar_a_cada_uno_11":["Succeeded"]},"metadata":{"operationMetadataId":"28e6cd5b-450b-4054-abce-c4b77d2dde36"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/Usuario/Email']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud PDF-XBRL-@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/ID']}","emailMessage/Body":"<p>Buen Dia,<br>\n<br>\nDe manera atenta nos permitimos informar que la solicitud ha sido radicada con el SUPER IT Numero @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/SuperIT']}<br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co<br>\n</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Iniciar_y_esperar_una_aprobación":["Succeeded"]},"else":{"actions":{"Aplicar_a_cada_uno_12":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación')?['body/responses']","actions":{"Actualizar_elemento_11":{"metadata":{"operationMetadataId":"8e9d6918-7d1d-4de1-b227-47b1a5cd70e9"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"f82d9649-c771-4088-8eb4-7458644fd542","id":"@outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/ID']","item/Estado/Value":"Rechazado","item/ObservacionRechazo":"@items('Aplicar_a_cada_uno_12')?['comments']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"17b8a4a5-7612-49c7-9c4a-98fdaa2240b1"},"type":"Foreach"},"Enviar_correo_electrónico_(V2)_22":{"runAfter":{"Aplicar_a_cada_uno_12":["Succeeded"]},"metadata":{"operationMetadataId":"eab095b5-2b44-4af0-8763-b2d404f480e9"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/Usuario/Email']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud PDF-XBRL-@{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/ID']}","emailMessage/Body":"<p>Buen Dia,<br>\n<br>\nDe manera atenta nos permitimos informar que la solicitud ha sido Rechazada por el siguiente Motivo:<br>\n\" @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/SuperIT']}\"<br>\n<br>\nCualquier Inquitud se puede comunicar con el usuario @{outputs('Crear_Nuevo_Elemento_Sharepoint')?['body/AsignadoA/DisplayName']}<br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"less":["@outputs('Iniciar_y_esperar_una_aprobación')?['body/outcome']","Aprobar"]}]},"metadata":{"operationMetadataId":"dadacc26-3439-4403-b2b9-ab4e053f3098"},"type":"If"}},"else":{"actions":{"Enviar_correo_electrónico_(V2)_1":{"metadata":{"operationMetadataId":"b5aaddb2-07f7-4923-81d7-27308ee334c5"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Obtener_los_detalles_de_la_respuesta')?['responder']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Error Solicitud PDF-XBRL","emailMessage/Body":"<p class=\"editor-paragraph\">Buen dia,<br><br>La solicitud No ha sido registrada, lo anterior debido a que el Detalle supera los 255 caracteres</p><br><p class=\"editor-paragraph\">\"@{body('Obtener_los_detalles_de_la_respuesta')?['r9bf02661d2ae4303880afbce058d257f']}\"</p><br><p class=\"editor-paragraph\">Agradecemos por favor volver a diligenciar el formulario, en el campo detalle se requiere sea menos a 255 caracteres.</p><br><br><p class=\"editor-paragraph\">Esta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br><br>Gracias<br><br>Celula Analitica para Mercado de Capitales<br>Delegatura Adjunta para Mercado de Capitales<br>Superintendencia Financiera de Colombia - 100 Años &nbsp;<br>Conmutador: +57 6015940200 ext 4546<br>Calle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"lessOrEquals":["@length(body('Obtener_los_detalles_de_la_respuesta')?['r9bf02661d2ae4303880afbce058d257f'])",255]}]},"metadata":{"operationMetadataId":"842c57e7-a366-49e4-b237-b9f719982f6e"},"type":"If"}}},"Caso_2":{"case":"Codigo Pais","actions":{"Crear_elemento_4":{"metadata":{"operationMetadataId":"ddeaacca-4d12-424b-810f-4d6a95ac3817"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"4dfd939a-0166-442c-addb-9ff4a451941c","item/TipoEntidad":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6306ba87021c4bdaafc3fcf56fecb5fd']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/raef879d308f24f188a8c8b5c604d4733']}","item/CodigoEntidad":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r547229ed23524da08b47f4c9351aa806']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf5ca096153464755aa44434a36f2d13f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd63c2668c3794d3fa1aca6588e5f0e17']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r60617fbde6924e0bb01f272fabb5b12d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r2dc0b94c30774591b85da9d0aad73b58']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re2e863aecc774f7aad149f5cbaac0c70']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5070a250bd4d40019d8271c719366750']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r12d0b8ec534445c5a1dc4ac25575ca9a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc748d4519b6b434891e5236eecbf0e89']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r920fdf56c2ea4b95aa5fadcec8cb0dbc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r55d09b8803774328a4e439c80737b19d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r2981095a955d45cd947c8a75d583243b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r51eaecc9757746139c6514b074eba19b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r546a6224ba314616b551ffee18a108a1']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf2064dfc1d654a8ba9227c6730049fbb']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8c3a5efe2399425da96a185569a221bb']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ree50641609174f96bb3c6cfd3b9f1d11']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf61667f83ba04855a2e4ae9f5795f27f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1495cd3442a344308280acca4fcc77a4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb856ab6b1dde4777b45f04e0e49575ac']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf774026cb25e4feca63d3abf2a01ead4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd71f64a764a749c2b03e079a153c89e9']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r698819b15b584316a3807fd79bf50d94']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0f5bdaf8e5d2447e964614171d719f03']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9a88b3c511e6410fa864d155e248ea84']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb4b881427ade4dac88652319c20e1363']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd6220f3c04d848969ed73e6b1b8b1a6f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra898a77260ea42b88d7d1b81217eb54e']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0858209c316b4192b7fb9a431267256d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r13422973c4cb475fa3973b870bba231f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r88e333ccb592440ca68021cb9c1d9209']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/reca4595c2d7f496e8a53d23087c15e7d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r24b5e31c7c0c4cf994db6abb0fdff8a2']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r85adf291d578441fa702d429cd094a8d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb866c9b327f14d98b45b7c9e7f954229']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd106eb5902304609b74199744162dcfc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r015db3847c194d3589049730f344c5a3']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd1b7084e12ac4b8c832dba8ef5897c01']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb96930e2f1b7499085aa636644a75c5b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcdb1931c58dd4527a897a32bfc8a8c54']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0157255ec3754d8481185c14b8da5052']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5a710d91c3fc49a49ef3f0c1b60d3aa0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r82d6742b5f7640a5ba72d4ba324e95ce']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r3be92b1a2dd1458dadb63d426f6cb6d0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcc2e10ab0686401bb52e87f7a7444b67']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb08443115693426e864d9782e3e62ab7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re669ae5d62834eacb39a3f77b9c76c07']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rfad872f6f89f4238824bfbef3f7f0e1a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r609d57158b0f4d4d9dac64a872282c77']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re80b385aca2241d58fe46fada3a7cf92']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r05ed5b991a6049e4832244ae1d0f6819']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r38bbb6224e544303bcf32452506a9653']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6036389ccd24469fa694c8cf7d07be5c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r00eec15ef813469d98fef4c65fd3da82']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4467f84659444f96a3ea76e53a4ad797']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd019213c42c845a98629f438e3926380']}@{body('Obtener_los_detalles_de_la_respuesta')?['r560a92a4cae746faaf5040da1f6e7f00']}","item/Observacion":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r41ef2b9ce05248308536b133c0e4fa64']","item/Radicado_Solip":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r79a83c31287a48689bdb11cd1d917456']","item/Fecha_Corte":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r38c774a5f910424e926079a27ca39a1d']","item/Fecha_Creacion":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/submitDate']","item/Fechas_Hasta":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r71ec8f644e0c4af3a317f9e1e09f28a1']","item/CorreoElectronico":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","item/AsignadoA/Claims":"@outputs('Asignado_A')","item/Estado/Value":"Pendiente","item/AutorizadoPor":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r57b0b8b444324b8992d8603982aacaed']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Enviar_correo_electrónico_(V2)_23":{"runAfter":{"Crear_elemento_4":["Succeeded"]},"metadata":{"operationMetadataId":"48788d7b-7f0d-4ee0-b7b5-b988f24d4e05"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud COD_PAIS-@{outputs('Crear_elemento_4')?['body/ID']}","emailMessage/Body":"<p>Buen dia,<br>\n<br>\nLa solicitud de ha sido registrada exitosamente y se encuentra en Estado Pendiente<br>\n<br>\nSolicitud: Codigo Pais<br>\nTipo Entidad: @{outputs('Crear_elemento_4')?['body/TipoEntidad']}<br>\nCodigo Entidad: @{outputs('Crear_elemento_4')?['body/CodigoEntidad']}<br>\nNumero Radicado: @{outputs('Crear_elemento_4')?['body/Radicado_Solip']}<br>\nObservacion: @{outputs('Crear_elemento_4')?['body/Observacion']}<br>\nFecha Corte: @{outputs('Crear_elemento_4')?['body/Fecha_Corte']}<br>\nAsignado A: @{outputs('Crear_elemento_4')?['body/AsignadoA/DisplayName']}<br>\nFecha Maxima de manetener el canal abierto: @{outputs('Crear_elemento_4')?['body/Fechas_Hasta']}<br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co<br>\n</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Iniciar_y_esperar_una_aprobación_2":{"runAfter":{"Enviar_correo_electrónico_(V2)_23":["Succeeded"]},"metadata":{"operationMetadataId":"ae3fd2f6-3f1d-4d3e-b649-c5c7bab2d7d2"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Aprobar","Rechazar"],"WebhookApprovalCreationInput/title":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud COD_PAIS-@{outputs('Crear_elemento_4')?['body/ID']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Crear_elemento_4')?['body/AsignadoA/Email']};;","WebhookApprovalCreationInput/details":"Datos Solicitud\n\nSolicitud: Codigo Pais\nTipo Entidad: @{outputs('Crear_elemento_4')?['body/TipoEntidad']}\nCodigo Entidad: @{outputs('Crear_elemento_4')?['body/CodigoEntidad']}\nNumero Radicado: @{outputs('Crear_elemento_4')?['body/Radicado_Solip']}\nObservacion: @{outputs('Crear_elemento_4')?['body/Observacion']}\nFecha Corte: @{outputs('Crear_elemento_4')?['body/Fecha_Corte']}\nAsignado A: @{outputs('Crear_elemento_4')?['body/AsignadoA/DisplayName']}\nFecha Maxima de manetener el canal abierto: @{outputs('Crear_elemento_4')?['body/Fechas_Hasta']}","WebhookApprovalCreationInput/requestor":"@{outputs('Crear_elemento_4')?['body/CorreoElectronico']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condición_13":{"actions":{"Aplicar_a_cada_uno_13":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación_2')?['body/responses']","actions":{"Actualizar_elemento_12":{"metadata":{"operationMetadataId":"597b1305-1770-414b-9f8a-8c1e2d5714d8"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"4dfd939a-0166-442c-addb-9ff4a451941c","id":"@outputs('Crear_elemento_4')?['body/ID']","item/SuperIT":"@items('Aplicar_a_cada_uno_13')?['comments']","item/Estado/Value":"Atendido"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"31cf154b-d6a5-4a6e-9ba5-1735ed50584c"},"type":"Foreach"},"Enviar_correo_electrónico_(V2)_24":{"runAfter":{"Aplicar_a_cada_uno_13":["Succeeded"]},"metadata":{"operationMetadataId":"d85ec293-f235-4a92-b64e-69005c995f46"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Crear_elemento_4')?['body/CorreoElectronico']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud COD_PAIS-@{outputs('Crear_elemento_4')?['body/ID']}","emailMessage/Body":"<p>Buen Dia,<br>\n<br>\nDe manera atenta nos permitimos informar que la solicitud ha sido radicada con el SUPER IT Numero @{outputs('Crear_elemento_4')?['body/SuperIT']}<br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Iniciar_y_esperar_una_aprobación_2":["Succeeded"]},"else":{"actions":{"Actualizar_elemento_13":{"metadata":{"operationMetadataId":"47c08e86-135a-4a08-86f7-160fdf41c3b5"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"4dfd939a-0166-442c-addb-9ff4a451941c","id":"@outputs('Crear_elemento_4')?['body/ID']","item/Estado/Value":"Rechazado"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Iniciar_y_esperar_una_aprobación_2')?['body/outcome']","Aprobar"]},"metadata":{"operationMetadataId":"9cad51a9-b36e-4930-832e-5efc8676aa90"},"type":"If"}}},"Caso_3":{"case":"Transmision / Retransmision","actions":{"Condición":{"actions":{"Enviar_correo_electrónico_(V2)":{"metadata":{"operationMetadataId":"2baa064b-a077-4819-82cf-66f38cdc8d5f"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","emailMessage/Subject":"@{concat(utcNow('MM-dd-yyyy'))} Error de Registro  ","emailMessage/Body":"<p><span style=\"font-family: arial\">buen dia,<br>\n<br>\nse recibio una solicitud para apertura de Canal, el cual para el campo Justificacion supero los 255 caracteres, agradecemos por favor se diligencie nuevamente el Formulario ajustando el Campo de justificacion a un Largo menor o igual a 255 caracteres<br>\n<br>\nMuchas gracias</span></p>","emailMessage/From":"noreplaydamc@superfinanciera.gov.co","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Finalizar":{"runAfter":{"Enviar_correo_electrónico_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"5c0c7c62-ee1a-4727-9703-4cba6e7befea"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"else":{"actions":{"Condición_2":{"actions":{"Análisis_del_archivo_JSON":{"metadata":{"operationMetadataId":"07597057-e12a-41b7-bdd8-95af72a3471f"},"type":"ParseJson","inputs":{"content":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r55b84db8158949d9b8f6db374103aed2']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"},"type":{},"size":{"type":"integer"},"referenceId":{"type":"string"},"driveId":{"type":"string"},"status":{"type":"integer"},"uploadSessionUrl":{}},"required":["name","link","id","type","size","referenceId","driveId","status","uploadSessionUrl"]}}}},"Aplicar_a_cada_uno":{"foreach":"@body('Análisis_del_archivo_JSON')","actions":{"Obtener_contenido_de_archivo":{"metadata":{"operationMetadataId":"9124369b-0529-428e-a528-282a284432f6"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@{items('Aplicar_a_cada_uno')['driveId']}.@{items('Aplicar_a_cada_uno')['id']}","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"Enumerar_las_filas_de_una_tabla":{"runAfter":{"Obtener_contenido_de_archivo":["Succeeded"]},"metadata":{"operationMetadataId":"87652c03-dc55-4ba6-9820-c5019f8f5062","tableId":"@variables('Tabla')"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/c560abfc-941c-4a29-a128-0e84c3bdaf27","drive":"b!OpTIUHbBVEmIZE8iEF2e0e8r5R3-7dNPgq9nUC7W_kGkpdhMgF1ITLBVGrm02fOl","file":"@{items('Aplicar_a_cada_uno')['driveId']}.@{items('Aplicar_a_cada_uno')['id']}","table":"@variables('Tabla')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Establecer_variable":{"runAfter":{"Enumerar_las_filas_de_una_tabla":["Succeeded","Failed"]},"metadata":{"operationMetadataId":"5bd78cb7-c4f9-49a2-9cbc-001ec9cf1d0c"},"type":"SetVariable","inputs":{"name":"ErrorNombreTabla","value":"@outputs('Enumerar_las_filas_de_una_tabla')"}},"Conmutador":{"runAfter":{"Establecer_variable":["Succeeded"]},"cases":{"Caso-2":{"case":404,"actions":{"Enviar_correo_electrónico_(V2)_3":{"metadata":{"operationMetadataId":"e45e384f-608d-4772-b30d-885b89242a99"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","emailMessage/Subject":"@{concat(utcNow('MM-dd-yyyy'))}Formulario Retransmision NO Exitoso","emailMessage/Body":"<p><span style=\"font-family: arial\">Buen dia<br>\n<br>\nEl Formulario de Retransmisiones ha sido Diligenciado, pero presenta una inconsistencia en el Nombre de la Tabla del Archivo Excel, agradecemos por favor verificar y corregir el nombre de la Tabla, y volver a diligenciar el Formulario.<br>\n<br>\npuede consultar la estructura y la plantilla del archivo en el Grupo de Teams en la pestaña de Archivos o en el link.<br>\n<br>\nhttps://superfinanciera.sharepoint.com/:x:/s/Formulario/EaSuWxZuMHdMjuT6eManw9UBmBhsYL96K0eojjerF4g7-g?e=uvyYCY<br>\n<br>\nMuchas Gracias</span></p>","emailMessage/From":"noreplaydamc@superfinanciera.gov.co","emailMessage/Attachments":[{"Name":"@items('Aplicar_a_cada_uno')['name']","ContentBytes":"@body('Obtener_contenido_de_archivo')"}],"emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Eliminar_archivo":{"runAfter":{"Retraso":["Succeeded"]},"metadata":{"operationMetadataId":"f4280139-c01e-4b73-8117-2468000e1687"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@{items('Aplicar_a_cada_uno')['driveId']}.@{items('Aplicar_a_cada_uno')['id']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"authentication":"@parameters('$authentication')"}},"Retraso":{"runAfter":{"Enviar_correo_electrónico_(V2)_3":["Succeeded"]},"metadata":{"operationMetadataId":"9cd08987-caef-40ff-909d-60eeb17b1a8b"},"type":"Wait","inputs":{"interval":{"count":6,"unit":"Minute"}}}}},"Caso_2-1":{"case":200,"actions":{"Enviar_correo_electrónico_(V2)_2":{"runAfter":{"Crear_elemento":["Succeeded"]},"metadata":{"operationMetadataId":"0b3c2b4e-3955-4b37-94a5-4dac6bb1ce3c"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud RETRANS-@{outputs('Crear_elemento')?['body/ID']}","emailMessage/Body":"<p><span style=\"font-family: arial\">Buen dia.<br>\n<br>\nEl Formulario de Retransmisiones ha sido Diligenciado Exitosamente, y se encuentra registrada con el ID<br>\n<br>\nDatos:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>\nCodigo Entidad:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_5']}</span><span style=\"font-family: arial\"><br>\nTipo Entidad:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_4']}</span><span style=\"font-family: arial\"><br>\nSubsistema:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_10']}</span><span style=\"font-family: arial\"><br>\nInforme:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_11']}</span><span style=\"font-family: arial\"><br>\nFormato:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_12']}</span><span style=\"font-family: arial\"><br>\nTipo de Solicitud:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_20']}</span><span style=\"font-family: arial\"><br>\nCategoria: </span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/Categoria/Value']}</span><span style=\"font-family: arial\"><br>\nRango Fechas Discontinuas:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/Rango_Fechas_Discontinuas']}</span><span style=\"font-family: arial\"><br>\nFecha Inicio Apertura:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_15']}</span><span style=\"font-family: arial\"><br>\nFecha Fin Apertura:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_16']}</span><span style=\"font-family: arial\"><br>\nRadicado:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_14']}</span><span style=\"font-family: arial\"><br>\nAutorizado por:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/field_28']}</span><span style=\"font-family: arial\"><br>\n<br>\nLa solicitud sera atendida por el usuario </span><span style=\"font-family: arial\">@{outputs('Crear_elemento')?['body/Asignadoa/DisplayName']}</span><span style=\"font-family: arial\"><br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co</span></p>","emailMessage/From":"noreplaydamc@superfinanciera.gov.co","emailMessage/Attachments":[{"Name":"@items('Aplicar_a_cada_uno')['name']","ContentBytes":"@body('Obtener_contenido_de_archivo')"}],"emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Agregar_datos_adjuntos":{"runAfter":{"Enviar_correo_electrónico_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"244d5309-f3b3-4770-a972-46f079885a2e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"7c35e25a-c2aa-4ec0-9255-f19a8153c10c","itemId":"@outputs('Crear_elemento')?['body/ID']","displayName":"@items('Aplicar_a_cada_uno')['name']","body":"@body('Obtener_contenido_de_archivo')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"authentication":"@parameters('$authentication')"}},"Iniciar_y_esperar_una_aprobación_de_texto":{"runAfter":{"Agregar_datos_adjuntos":["Succeeded"]},"metadata":{"operationMetadataId":"8df6b1d2-004c-4c65-9334-f1e759aff713"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"WebhookTextSuggestionApprovalCreationInput/title":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud RETRANS-@{outputs('Crear_elemento')?['body/ID']}","WebhookTextSuggestionApprovalCreationInput/suggestedText":"Solicitud de @{outputs('Crear_elemento')?['body/field_20']} ","WebhookTextSuggestionApprovalCreationInput/assignedTo":"@outputs('Crear_elemento')?['body/Asignadoa/Email']","WebhookTextSuggestionApprovalCreationInput/details":"Solicitud generada con el ID\n\nDatos:                 \nCodigo Entidad:@{outputs('Crear_elemento')?['body/field_5']}\nTipo Entidad:@{outputs('Crear_elemento')?['body/field_4']}\nSubsistema:@{outputs('Crear_elemento')?['body/field_10']}\nInforme:@{outputs('Crear_elemento')?['body/field_11']}\nFormato:@{outputs('Crear_elemento')?['body/field_12']}\nTipo de Solicitud:@{outputs('Crear_elemento')?['body/field_20']}\nCategoria: @{outputs('Crear_elemento')?['body/Categoria/Value']}\nRango Fechas Discontinuas:@{outputs('Crear_elemento')?['body/Rango_Fechas_Discontinuas']}\nFecha Inicio Apertura:@{outputs('Crear_elemento')?['body/field_15']}\nFecha Fin Apertura:@{outputs('Crear_elemento')?['body/field_16']}\nRadicado:@{outputs('Crear_elemento')?['body/field_14']}\nAutorizado por:@{outputs('Crear_elemento')?['body/field_28']}\nNombre Archivo: @{items('Aplicar_a_cada_uno')['name']}\n","WebhookTextSuggestionApprovalCreationInput/itemLink":"@outputs('Agregar_datos_adjuntos')?['body/AbsoluteUri']","WebhookTextSuggestionApprovalCreationInput/requestor":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","WebhookTextSuggestionApprovalCreationInput/enableNotifications":true,"WebhookTextSuggestionApprovalCreationInput/enableReassignment":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForATextSuggestionApproval"},"authentication":"@parameters('$authentication')"}},"Condición_7":{"actions":{"Aplicar_a_cada_uno_2":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación_de_texto')?['body/responses']","actions":{"Actualizar_elemento":{"metadata":{"operationMetadataId":"0d5bd179-e859-4979-948a-dc135616447c"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"7c35e25a-c2aa-4ec0-9255-f19a8153c10c","id":"@outputs('Crear_elemento')?['body/ID']","item/Estado/Value":"Aprobado","item/SuperIT":"@items('Aplicar_a_cada_uno_2')?['comments']","item/FechaRespuesta":"@formatDateTime(convertTimeZone(outputs('Iniciar_y_esperar_una_aprobación_de_texto')?['body/completionDate'],'UTC','SA Pacific Standard Time'),'dd-MM-yyyy HH:mm:ss')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Establecer_variable_7":{"runAfter":{"Actualizar_elemento":["Succeeded"]},"metadata":{"operationMetadataId":"2de6e15c-984e-4fb2-9b30-ed758131e5a8"},"type":"SetVariable","inputs":{"name":"SuperIT","value":"@items('Aplicar_a_cada_uno_2')?['comments']"}}},"metadata":{"operationMetadataId":"eb4b42b7-a4f3-4277-8e86-2d530037f32b"},"type":"Foreach"},"Enviar_correo_electrónico_(V2)_14":{"runAfter":{"Aplicar_a_cada_uno_2":["Succeeded"]},"metadata":{"operationMetadataId":"69d21f91-8eaa-43fb-8c74-b0b4f79c94e3"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud RETRANS-@{outputs('Crear_elemento')?['body/ID']}","emailMessage/Body":"<p>Buena dia,<br>\n<br>\nse informa que su solictud de @{outputs('Crear_elemento')?['body/field_20']} &nbsp; @{if(equals(variables('SuperIT'), 'Manual'), 'fue atendidad y los canales estan disponibles', concat('esta siendo atendida bajo el Super IT numero ', variables('SuperIT')))}<br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co<br>\n<br>\n</p>","emailMessage/From":"noreplaydamc@superfinanciera.gov.co","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Agregar_una_fila_a_una_tabla":{"runAfter":{"Enviar_correo_electrónico_(V2)_14":["Succeeded"]},"metadata":{"014R3L4IGF6WMIKMH3HZCL3PHUW23WAYRW":"/Retransmisiones/BD_SolicitudesRtx_SFC.xlsx","operationMetadataId":"7de191ef-5754-47d9-838a-e39bc261c400","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/a363b25c-ca8c-4214-81fa-95cdcf030608","drive":"b!jJ1Mfm23ukm9cM1E4taPxE0wTrrUGxBDm0-wVnmRQCXfv2vW3npRRJO8Pj2oGGvL","file":"014R3L4IGF6WMIKMH3HZCL3PHUW23WAYRW","table":"{00000000-000C-0000-FFFF-FFFF00000000}","item/Fecha de solicitud":"@outputs('Crear_elemento')?['body/field_1']","item/Tipo de Entidad":"@outputs('Crear_elemento')?['body/field_4']","item/Código de Entidad":"@outputs('Crear_elemento')?['body/field_5']","item/Subsistema (Área) del Formato":"@outputs('Crear_elemento')?['body/field_10']","item/Formato":"@outputs('Crear_elemento')?['body/field_12']","item/Tipo de Informe":"@split(body('Crear_elemento')?['field_11'],' ')[1]","item/Frecuencia transmisión Informe":"@outputs('Crear_elemento')?['body/field_13']","item/Número de Radicado de la Solicitud en SOLIP":"@outputs('Crear_elemento')?['body/field_14']","item/Indique el número de fechas de corte de la solicitud":"@outputs('Crear_elemento')?['body/field_17']","item/Fecha(s) de Corte - Habilitación de Canales":"@outputs('Crear_elemento')?['body/field_18']","item/Origen Solicitud":"@outputs('Crear_elemento')?['body/field_19']","item/Tipo de Solicitud":"@outputs('Crear_elemento')?['body/field_20']","item/Motivo":"@outputs('Crear_elemento')?['body/field_21']","item/Justificación":"@body('Crear_elemento')?['field_22']","item/Materialidad":"@body('Crear_elemento')?['field_23']","item/Porcentaje de Registros Comprometidos":"@body('Crear_elemento')?['field_24']","item/Impacto Individual":"@body('Crear_elemento')?['field_25']","item/Impacto Sistema":"@body('Crear_elemento')?['field_26']","item/Cobertura":"@body('Crear_elemento')?['field_27']","item/Delegatura":"DAMC"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Iniciar_y_esperar_una_aprobación_de_texto":["Succeeded"]},"else":{"actions":{"Aplicar_a_cada_uno_8":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación_de_texto')?['body/responses']","actions":{"Enviar_correo_electrónico_(V2)_17":{"metadata":{"operationMetadataId":"43caba5b-dfa6-47d3-a6bf-db20fb295758"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Crear_elemento')?['body/UsuarioSolicitante/Email']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud RETRANS-@{outputs('Crear_elemento')?['body/ID']}","emailMessage/Body":"<p>Buena dia,<br>\n<br>\nse informa que su solictud de @{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r23f45dd36ee247708b09ba12dc477f7a']} registrada ha sido Rechazada por motivo de:<br>\n<br>\n@{items('Aplicar_a_cada_uno_8')?['comments']}<br>\n<br>\nCualquier inquietud puede comunicarse con el usuario @{outputs('Crear_elemento')?['body/Asignadoa/DisplayName']}<br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co<br>\n</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"7887b44d-a20d-444b-8d38-ae4d5bdb19d4"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Iniciar_y_esperar_una_aprobación_de_texto')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"503dc4b1-3bb2-4ae1-8b73-90f80aaba1c7"},"type":"If"},"Crear_elemento":{"metadata":{"operationMetadataId":"104636b3-2333-431d-abce-497708a366b0"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"7c35e25a-c2aa-4ec0-9255-f19a8153c10c","item/field_1":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/submitDate']","item/field_2":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","item/field_4":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6306ba87021c4bdaafc3fcf56fecb5fd']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/raef879d308f24f188a8c8b5c604d4733']}","item/field_5":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r547229ed23524da08b47f4c9351aa806']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf5ca096153464755aa44434a36f2d13f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd63c2668c3794d3fa1aca6588e5f0e17']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r60617fbde6924e0bb01f272fabb5b12d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r2dc0b94c30774591b85da9d0aad73b58']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re2e863aecc774f7aad149f5cbaac0c70']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5070a250bd4d40019d8271c719366750']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r12d0b8ec534445c5a1dc4ac25575ca9a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc748d4519b6b434891e5236eecbf0e89']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r920fdf56c2ea4b95aa5fadcec8cb0dbc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r55d09b8803774328a4e439c80737b19d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r2981095a955d45cd947c8a75d583243b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r51eaecc9757746139c6514b074eba19b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r546a6224ba314616b551ffee18a108a1']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf2064dfc1d654a8ba9227c6730049fbb']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8c3a5efe2399425da96a185569a221bb']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ree50641609174f96bb3c6cfd3b9f1d11']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf61667f83ba04855a2e4ae9f5795f27f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1495cd3442a344308280acca4fcc77a4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb856ab6b1dde4777b45f04e0e49575ac']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf774026cb25e4feca63d3abf2a01ead4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd71f64a764a749c2b03e079a153c89e9']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r698819b15b584316a3807fd79bf50d94']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0f5bdaf8e5d2447e964614171d719f03']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9a88b3c511e6410fa864d155e248ea84']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb4b881427ade4dac88652319c20e1363']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd6220f3c04d848969ed73e6b1b8b1a6f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra898a77260ea42b88d7d1b81217eb54e']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0858209c316b4192b7fb9a431267256d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r13422973c4cb475fa3973b870bba231f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r88e333ccb592440ca68021cb9c1d9209']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/reca4595c2d7f496e8a53d23087c15e7d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r24b5e31c7c0c4cf994db6abb0fdff8a2']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r85adf291d578441fa702d429cd094a8d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb866c9b327f14d98b45b7c9e7f954229']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd106eb5902304609b74199744162dcfc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r015db3847c194d3589049730f344c5a3']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd1b7084e12ac4b8c832dba8ef5897c01']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb96930e2f1b7499085aa636644a75c5b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcdb1931c58dd4527a897a32bfc8a8c54']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0157255ec3754d8481185c14b8da5052']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5a710d91c3fc49a49ef3f0c1b60d3aa0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r82d6742b5f7640a5ba72d4ba324e95ce']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r3be92b1a2dd1458dadb63d426f6cb6d0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcc2e10ab0686401bb52e87f7a7444b67']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb08443115693426e864d9782e3e62ab7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re669ae5d62834eacb39a3f77b9c76c07']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rfad872f6f89f4238824bfbef3f7f0e1a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r609d57158b0f4d4d9dac64a872282c77']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re80b385aca2241d58fe46fada3a7cf92']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r05ed5b991a6049e4832244ae1d0f6819']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r38bbb6224e544303bcf32452506a9653']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6036389ccd24469fa694c8cf7d07be5c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r00eec15ef813469d98fef4c65fd3da82']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4467f84659444f96a3ea76e53a4ad797']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd019213c42c845a98629f438e3926380']}@{body('Obtener_los_detalles_de_la_respuesta')?['r560a92a4cae746faaf5040da1f6e7f00']}","item/field_8":"@items('Aplicar_a_cada_uno')['name']","item/field_9":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf43d447c32db4eb09c0fc87767cb93cb']","item/field_10":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r87e07d2dbc0b4b4f977969891e699084']","item/field_11":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0f932cf4639e45c89728e219373a8b66']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8f61d0ad343c47d989d827a85dfcdf38']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1110c98ee0b043f1b26363f1558be985']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9c173f79f75e4061902839daf69721f1']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r50378ec46ba542da8628a04aa881fe74']}","item/field_12":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r29b26fb0df504a3192864b52f11b8461']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd45251039632423a80f531087e7fd1a4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9e03ad25b1ac415ba9557a8b5f67d495']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4b0ca670148b40869c2101d50d5617b4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8844749d823e49d08f1f468ccac556c0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re10ecc998b4f41e8b2c598b657e3ee98']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcff6801d0841478e88c686d32063429d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0ed54efc308e4425b416af7f2ad373da']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rec7e6974ab8d4f298ed437331786b46d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r601c4884ceda4a3dacfbe13091a8fbfd']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf3ecc47cbdf74b95a82a83f409190494']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rde6cf00248334fe1883d1c675a3bd94f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rde45abecb22244eeb169897b309aad09']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8d206c222ed64e599859f73fa6fbae63']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra68fd01c4b0e400cad51aee25d3ff9b7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r480a2737021042728e60b9018112b6f6']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r90d2dd3b40074650bf16e752cb229a0c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r556f7ccd2ad948c2872a84be6e70ec26']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r02dbe82baa854c4b80f92eee6f0bc0be']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rba7ebf16f338408fb2668198bd4954be']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rad7fe202ae774c5d8e614f868a9c1923']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5773bee55bca4b359d065ee6de2b682a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc3f276c623e34d65838d4b9dbd936cc7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r87730a754a44448bb2dc89110fcb88d4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r537a5f135fb54de0adfbbc8ff715e2bc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r27a44e02ed7d4b83aaac91694c1bac6d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rebb5b33922ef43a2b742d0b8362e69d7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rab6caae2b4af4bf5a19a32c3ff1f7a2b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1a8692f5753e4432b68f18f98788196c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6b897790cecc41249992e179bb5679d4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc195c5d83d6f42eb876b72bfa1c8c97b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r17d03fc4216f455e85127675f3ae8f98']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra6b648706cb948ceabdc7fb7160de0ea']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r51f6e67f0fb24ccc822acdc2507adc09']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r823c0cec79174418bd11254e12926183']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re96eb507caee4de187c45b4a5d462708']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4c0372af3c4e4157a101ba4834e43088']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7e319af2e62c44c7899412ecc0279b43']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r21f856637eb64eb7aee926fc1ad791a7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc6d4ce3068184b7db95bc87c10427123']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8eb108f24c024fa9a47a1aec49e1da1d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rdf087748440a45f695b412238a91d9e0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd56485f146824a04ab378be5a120d89d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf7b354dbd5174b6abe40006ffa9e237a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9dcea801152044f2bb08ede9ba57c50c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra39c285bf70e44f5882bb23e48981015']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9e92ca833ca640f88a1092fbdda92759']}","item/field_13":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb75028776e824cc0a84a240d198eefbe']","item/field_14":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r79a83c31287a48689bdb11cd1d917456']","item/Categoria/Value":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb9aaf26f59854b13836f40af28df8512']","item/Rango_Fechas_Discontinuas":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1f9dfd3bbac84f54a03ea585a4934ba1']","item/field_15":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1']","item/field_16":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']","item/field_17":"@outputs('Redactar')","item/field_18":"@if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb9aaf26f59854b13836f40af28df8512'],'Discontinua'),outputs('Obtener_los_detalles_de_la_respuesta')?['body/rfb9f6610db6e48dfb26e8bd22b1af29f'],concat(formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'],'dd'),'/',formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'],'MM'),'/',formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'],'yyyy'),' -',formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4'],'dd'),'/',formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4'],'MM'),'/',formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4'],'yyyy')))","item/field_19":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rae21ef3684b044699dbe2766a1da193e']","item/field_20":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r94d5f40c75264a8b9789ea97877e145c']","item/field_21":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r217f202d4d054cc09ac18a363de06a67']","item/field_22":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0a0d73281d8f41f0b31893f2b85f7267']","item/field_23":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r965b6f2c81014122a66ad134ef0afcee']","item/field_24":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r888c3a70c8f2422482550afadcc44fc3']","item/field_25":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb182472f89734e798682acd6e0d4e846']","item/field_26":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4b23ae144794493491e04fe171256d6e']","item/field_27":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8eba626a54c545a4bef7cabf183a6f7a']","item/field_28":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r57b0b8b444324b8992d8603982aacaed']","item/UsuarioSolicitante/Claims":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","item/Asignadoa/Claims":"@outputs('Asignado_A')","item/Estado/Value":"Pendiente"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@variables('ErrorNombreTabla')['statusCode']","metadata":{"operationMetadataId":"172ab2fd-f07a-4a27-87a2-ddfe16dd2081"},"type":"Switch"}},"runAfter":{"Análisis_del_archivo_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"2206f320-67de-4c19-ab8d-3043b192ec4f"},"type":"Foreach"}},"else":{"actions":{"Crear_elemento_3":{"metadata":{"operationMetadataId":"104636b3-2333-431d-abce-497708a366b0"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"7c35e25a-c2aa-4ec0-9255-f19a8153c10c","item/field_1":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/submitDate']","item/field_2":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","item/field_4":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6306ba87021c4bdaafc3fcf56fecb5fd']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/raef879d308f24f188a8c8b5c604d4733']}","item/field_5":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r547229ed23524da08b47f4c9351aa806']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf5ca096153464755aa44434a36f2d13f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd63c2668c3794d3fa1aca6588e5f0e17']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r60617fbde6924e0bb01f272fabb5b12d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r2dc0b94c30774591b85da9d0aad73b58']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re2e863aecc774f7aad149f5cbaac0c70']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5070a250bd4d40019d8271c719366750']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r12d0b8ec534445c5a1dc4ac25575ca9a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc748d4519b6b434891e5236eecbf0e89']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r920fdf56c2ea4b95aa5fadcec8cb0dbc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r55d09b8803774328a4e439c80737b19d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r2981095a955d45cd947c8a75d583243b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r51eaecc9757746139c6514b074eba19b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r546a6224ba314616b551ffee18a108a1']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf2064dfc1d654a8ba9227c6730049fbb']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8c3a5efe2399425da96a185569a221bb']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ree50641609174f96bb3c6cfd3b9f1d11']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf61667f83ba04855a2e4ae9f5795f27f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1495cd3442a344308280acca4fcc77a4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb856ab6b1dde4777b45f04e0e49575ac']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf774026cb25e4feca63d3abf2a01ead4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd71f64a764a749c2b03e079a153c89e9']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r698819b15b584316a3807fd79bf50d94']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0f5bdaf8e5d2447e964614171d719f03']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9a88b3c511e6410fa864d155e248ea84']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb4b881427ade4dac88652319c20e1363']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd6220f3c04d848969ed73e6b1b8b1a6f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra898a77260ea42b88d7d1b81217eb54e']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0858209c316b4192b7fb9a431267256d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r13422973c4cb475fa3973b870bba231f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r88e333ccb592440ca68021cb9c1d9209']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/reca4595c2d7f496e8a53d23087c15e7d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r24b5e31c7c0c4cf994db6abb0fdff8a2']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r85adf291d578441fa702d429cd094a8d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb866c9b327f14d98b45b7c9e7f954229']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd106eb5902304609b74199744162dcfc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r015db3847c194d3589049730f344c5a3']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd1b7084e12ac4b8c832dba8ef5897c01']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb96930e2f1b7499085aa636644a75c5b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcdb1931c58dd4527a897a32bfc8a8c54']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0157255ec3754d8481185c14b8da5052']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5a710d91c3fc49a49ef3f0c1b60d3aa0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r82d6742b5f7640a5ba72d4ba324e95ce']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r3be92b1a2dd1458dadb63d426f6cb6d0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcc2e10ab0686401bb52e87f7a7444b67']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb08443115693426e864d9782e3e62ab7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re669ae5d62834eacb39a3f77b9c76c07']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rfad872f6f89f4238824bfbef3f7f0e1a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r609d57158b0f4d4d9dac64a872282c77']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re80b385aca2241d58fe46fada3a7cf92']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r05ed5b991a6049e4832244ae1d0f6819']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r38bbb6224e544303bcf32452506a9653']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6036389ccd24469fa694c8cf7d07be5c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r00eec15ef813469d98fef4c65fd3da82']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4467f84659444f96a3ea76e53a4ad797']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd019213c42c845a98629f438e3926380']}@{body('Obtener_los_detalles_de_la_respuesta')?['r560a92a4cae746faaf5040da1f6e7f00']}","item/field_9":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf43d447c32db4eb09c0fc87767cb93cb']","item/field_10":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r87e07d2dbc0b4b4f977969891e699084']","item/field_11":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0f932cf4639e45c89728e219373a8b66']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8f61d0ad343c47d989d827a85dfcdf38']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1110c98ee0b043f1b26363f1558be985']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9c173f79f75e4061902839daf69721f1']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r50378ec46ba542da8628a04aa881fe74']}","item/field_12":"@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r29b26fb0df504a3192864b52f11b8461']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd45251039632423a80f531087e7fd1a4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9e03ad25b1ac415ba9557a8b5f67d495']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4b0ca670148b40869c2101d50d5617b4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8844749d823e49d08f1f468ccac556c0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re10ecc998b4f41e8b2c598b657e3ee98']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rcff6801d0841478e88c686d32063429d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0ed54efc308e4425b416af7f2ad373da']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rec7e6974ab8d4f298ed437331786b46d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r601c4884ceda4a3dacfbe13091a8fbfd']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf3ecc47cbdf74b95a82a83f409190494']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rde6cf00248334fe1883d1c675a3bd94f']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rde45abecb22244eeb169897b309aad09']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8d206c222ed64e599859f73fa6fbae63']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra68fd01c4b0e400cad51aee25d3ff9b7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r480a2737021042728e60b9018112b6f6']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r90d2dd3b40074650bf16e752cb229a0c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r556f7ccd2ad948c2872a84be6e70ec26']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r02dbe82baa854c4b80f92eee6f0bc0be']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rba7ebf16f338408fb2668198bd4954be']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rad7fe202ae774c5d8e614f868a9c1923']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r5773bee55bca4b359d065ee6de2b682a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc3f276c623e34d65838d4b9dbd936cc7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r87730a754a44448bb2dc89110fcb88d4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r537a5f135fb54de0adfbbc8ff715e2bc']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r27a44e02ed7d4b83aaac91694c1bac6d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rebb5b33922ef43a2b742d0b8362e69d7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rab6caae2b4af4bf5a19a32c3ff1f7a2b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1a8692f5753e4432b68f18f98788196c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r6b897790cecc41249992e179bb5679d4']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc195c5d83d6f42eb876b72bfa1c8c97b']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r17d03fc4216f455e85127675f3ae8f98']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra6b648706cb948ceabdc7fb7160de0ea']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r51f6e67f0fb24ccc822acdc2507adc09']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r823c0cec79174418bd11254e12926183']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/re96eb507caee4de187c45b4a5d462708']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4c0372af3c4e4157a101ba4834e43088']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7e319af2e62c44c7899412ecc0279b43']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r21f856637eb64eb7aee926fc1ad791a7']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rc6d4ce3068184b7db95bc87c10427123']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8eb108f24c024fa9a47a1aec49e1da1d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rdf087748440a45f695b412238a91d9e0']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd56485f146824a04ab378be5a120d89d']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/rf7b354dbd5174b6abe40006ffa9e237a']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9dcea801152044f2bb08ede9ba57c50c']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/ra39c285bf70e44f5882bb23e48981015']}@{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9e92ca833ca640f88a1092fbdda92759']}","item/field_13":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb75028776e824cc0a84a240d198eefbe']","item/field_14":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r79a83c31287a48689bdb11cd1d917456']","item/Categoria/Value":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb9aaf26f59854b13836f40af28df8512']","item/Rango_Fechas_Discontinuas":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r1f9dfd3bbac84f54a03ea585a4934ba1']","item/field_15":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1']","item/field_16":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4']","item/field_17":"@outputs('Redactar')","item/field_18":"@if(equals(outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb9aaf26f59854b13836f40af28df8512'], 'Discontinua'), outputs('Obtener_los_detalles_de_la_respuesta')?['body/rfb9f6610db6e48dfb26e8bd22b1af29f'], concat(formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'], 'dd'), '/', formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'], 'MM'), '/', formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r7fd1ee2836c54fc4a2e23ccf591dacd1'], 'yyyy'), ' -', formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4'], 'dd'), '/', formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4'], 'MM'), '/', formatDateTime(outputs('Obtener_los_detalles_de_la_respuesta')?['body/r9fadaa0ee6454587a4df52f19599e9e4'], 'yyyy')))","item/field_19":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rae21ef3684b044699dbe2766a1da193e']","item/field_20":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r94d5f40c75264a8b9789ea97877e145c']","item/field_21":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r217f202d4d054cc09ac18a363de06a67']","item/field_22":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r0a0d73281d8f41f0b31893f2b85f7267']","item/field_23":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r965b6f2c81014122a66ad134ef0afcee']","item/field_24":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r888c3a70c8f2422482550afadcc44fc3']","item/field_25":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rb182472f89734e798682acd6e0d4e846']","item/field_26":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r4b23ae144794493491e04fe171256d6e']","item/field_27":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r8eba626a54c545a4bef7cabf183a6f7a']","item/field_28":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/r57b0b8b444324b8992d8603982aacaed']","item/UsuarioSolicitante/Claims":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","item/Asignadoa/Claims":"@outputs('Asignado_A')","item/Estado/Value":"Pendiente"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Enviar_correo_electrónico_(V2)_4":{"runAfter":{"Crear_elemento_3":["Succeeded"]},"metadata":{"operationMetadataId":"0b3c2b4e-3955-4b37-94a5-4dac6bb1ce3c"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud RETRANS-@{outputs('Crear_elemento_3')?['body/ID']}","emailMessage/Body":"<p><span style=\"font-family: arial\">Buen dia.<br>\n<br>\nEl Formulario de Retransmisiones ha sido Diligenciado Exitosamente, y se encuentra registrada con el ID<br>\n<br>\nDatos:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>\nCodigo Entidad:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_5']}</span><span style=\"font-family: arial\"><br>\nTipo Entidad:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_4']}</span><span style=\"font-family: arial\"><br>\nSubsistema:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_10']}</span><span style=\"font-family: arial\"><br>\nInforme:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_11']}</span><span style=\"font-family: arial\"><br>\nFormato:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_12']}</span><span style=\"font-family: arial\"><br>\nTipo de Solicitud:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_20']}</span><span style=\"font-family: arial\"><br>\nCategoria: </span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/Categoria/Value']}</span><span style=\"font-family: arial\"><br>\nRango Fechas Discontinuas:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/Rango_Fechas_Discontinuas']}</span><span style=\"font-family: arial\"><br>\nFecha Inicio Apertura:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_15']}</span><span style=\"font-family: arial\"><br>\nFecha Fin Apertura:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_16']}</span><span style=\"font-family: arial\"><br>\nRadicado:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_14']}</span><span style=\"font-family: arial\"><br>\nAutorizado por:</span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/field_28']}</span><span style=\"font-family: arial\"><br>\n<br>\nLa solicitud sera atendida por el usuario </span><span style=\"font-family: arial\">@{outputs('Crear_elemento_3')?['body/Asignadoa/DisplayName']}</span><span style=\"font-family: arial\"><br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co</span></p>","emailMessage/From":"noreplaydamc@superfinanciera.gov.co","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Iniciar_y_esperar_una_aprobación_de_texto_2":{"runAfter":{"Enviar_correo_electrónico_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"8df6b1d2-004c-4c65-9334-f1e759aff713"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"WebhookTextSuggestionApprovalCreationInput/title":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud RETRANS-@{outputs('Crear_elemento_3')?['body/ID']}","WebhookTextSuggestionApprovalCreationInput/suggestedText":"Solicitud de @{outputs('Crear_elemento_3')?['body/field_20']} ","WebhookTextSuggestionApprovalCreationInput/assignedTo":"@outputs('Crear_elemento_3')?['body/Asignadoa/Email']","WebhookTextSuggestionApprovalCreationInput/details":"Solicitud generada con el ID\n\nDatos:                 \nCodigo Entidad:@{outputs('Crear_elemento_3')?['body/field_5']}\nTipo Entidad:@{outputs('Crear_elemento_3')?['body/field_4']}\nSubsistema:@{outputs('Crear_elemento_3')?['body/field_10']}\nInforme:@{outputs('Crear_elemento_3')?['body/field_11']}\nFormato:@{outputs('Crear_elemento_3')?['body/field_12']}\nTipo de Solicitud:@{outputs('Crear_elemento_3')?['body/field_20']}\nCategoria: @{outputs('Crear_elemento_3')?['body/Categoria/Value']}\nRango Fechas Discontinuas:@{outputs('Crear_elemento_3')?['body/Rango_Fechas_Discontinuas']}\nFecha Inicio Apertura:@{outputs('Crear_elemento_3')?['body/field_15']}\nFecha Fin Apertura:@{outputs('Crear_elemento_3')?['body/field_16']}\nRadicado:@{outputs('Crear_elemento_3')?['body/field_14']}\nAutorizado por:@{outputs('Crear_elemento_3')?['body/field_28']}\n","WebhookTextSuggestionApprovalCreationInput/requestor":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","WebhookTextSuggestionApprovalCreationInput/enableNotifications":true,"WebhookTextSuggestionApprovalCreationInput/enableReassignment":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForATextSuggestionApproval"},"authentication":"@parameters('$authentication')"}},"Condición_3":{"actions":{"Enviar_correo_electrónico_(V2)_6":{"runAfter":{"Aplicar_a_cada_uno_6":["Succeeded"]},"metadata":{"operationMetadataId":"69d21f91-8eaa-43fb-8c74-b0b4f79c94e3"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/responder']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud RETRANS-@{outputs('Crear_elemento_3')?['body/ID']}","emailMessage/Body":"<p>Buena dia,<br>\n<br>\nse informa que su solictud de @{outputs('Crear_elemento_3')?['body/field_20']} &nbsp; @{if(equals(variables('SuperIT'), 'Manual'), 'fue atendidad y los canales estan disponibles', concat('esta siendo atendida bajo el Super IT numero ', variables('SuperIT')))}<br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co<br>\n<br>\n</p>","emailMessage/From":"noreplaydamc@superfinanciera.gov.co","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Aplicar_a_cada_uno_6":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación_de_texto_2')?['body/responses']","actions":{"Actualizar_elemento_2":{"metadata":{"operationMetadataId":"0d5bd179-e859-4979-948a-dc135616447c"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"7c35e25a-c2aa-4ec0-9255-f19a8153c10c","id":"@outputs('Crear_elemento_3')?['body/ID']","item/Estado/Value":"Aprobado","item/SuperIT":"@items('Aplicar_a_cada_uno_6')?['comments']","item/FechaRespuesta":"@formatDateTime(convertTimeZone(outputs('Iniciar_y_esperar_una_aprobación_de_texto_2')?['body/completionDate'], 'UTC', 'SA Pacific Standard Time'), 'dd-MM-yyyy HH:mm:ss')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Establecer_variable_3":{"runAfter":{"Actualizar_elemento_2":["Succeeded"]},"metadata":{"operationMetadataId":"edfdab2f-8e7f-4c40-ab54-a8546035f69e"},"type":"SetVariable","inputs":{"name":"SuperIT","value":"@items('Aplicar_a_cada_uno_6')?['comments']"}}},"metadata":{"operationMetadataId":"5a6bf05c-6151-4649-9dc8-fc33effb7fd7"},"type":"Foreach"},"Agregar_una_fila_a_una_tabla_1":{"runAfter":{"Enviar_correo_electrónico_(V2)_6":["Succeeded"]},"metadata":{"014R3L4IGF6WMIKMH3HZCL3PHUW23WAYRW":"/Retransmisiones/BD_SolicitudesRtx_SFC.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}","operationMetadataId":"4415d752-6677-4f66-ae46-e291014ade1d"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/a363b25c-ca8c-4214-81fa-95cdcf030608","drive":"b!jJ1Mfm23ukm9cM1E4taPxE0wTrrUGxBDm0-wVnmRQCXfv2vW3npRRJO8Pj2oGGvL","file":"014R3L4IGF6WMIKMH3HZCL3PHUW23WAYRW","table":"{00000000-000C-0000-FFFF-FFFF00000000}","item/Fecha de solicitud":"@body('Crear_elemento_3')?['field_1']","item/Tipo de Entidad":"@body('Crear_elemento_3')?['field_4']","item/Código de Entidad":"@body('Crear_elemento_3')?['field_5']","item/Subsistema (Área) del Formato":"@body('Crear_elemento_3')?['field_10']","item/Formato":"@body('Crear_elemento_3')?['field_12']","item/Tipo de Informe":"@split(body('Crear_elemento_3')?['field_11'],' ')[1]","item/Frecuencia transmisión Informe":"@body('Crear_elemento_3')?['field_13']","item/Número de Radicado de la Solicitud en SOLIP":"@body('Crear_elemento_3')?['field_14']","item/Indique el número de fechas de corte de la solicitud":"@body('Crear_elemento_3')?['field_17']","item/Fecha(s) de Corte - Habilitación de Canales":"@body('Crear_elemento_3')?['field_18']","item/Origen Solicitud":"@body('Crear_elemento_3')?['field_19']","item/Tipo de Solicitud":"@body('Crear_elemento_3')?['field_20']","item/Motivo":"@body('Crear_elemento_3')?['field_21']","item/Justificación":"@body('Crear_elemento_3')?['field_22']","item/Materialidad":"@body('Crear_elemento_3')?['field_23']","item/Porcentaje de Registros Comprometidos":"@body('Crear_elemento_3')?['field_24']","item/Impacto Individual":"@body('Crear_elemento_3')?['field_25']","item/Impacto Sistema":"@body('Crear_elemento_3')?['field_26']","item/Cobertura":"@body('Crear_elemento_3')?['field_27']","item/Delegatura":"DAMC"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Iniciar_y_esperar_una_aprobación_de_texto_2":["Succeeded"]},"else":{"actions":{"Aplicar_a_cada_uno_3":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación_de_texto_2')?['body/responses']","actions":{"Enviar_correo_electrónico_(V2)_5":{"metadata":{"operationMetadataId":"43caba5b-dfa6-47d3-a6bf-db20fb295758"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Crear_elemento_3')?['body/UsuarioSolicitante/Email']","emailMessage/Subject":"@{concat(formatDateTime(utcNow(), 'yyyy'), formatDateTime(utcNow(), 'MM'), formatDateTime(utcNow(), 'dd'))}-Solicitud RETRANS-@{outputs('Crear_elemento_3')?['body/ID']}","emailMessage/Body":"<p>Buena dia,<br>\n<br>\nse informa que su solictud de @{outputs('Obtener_los_detalles_de_la_respuesta')?['body/r23f45dd36ee247708b09ba12dc477f7a']} registrada ha sido Rechazada por motivo de:<br>\n<br>\n@{items('Aplicar_a_cada_uno_3')?['comments']}<br>\n<br>\nCualquier inquietud puede comunicarse con el usuario @{outputs('Crear_elemento_3')?['body/Asignadoa/DisplayName']}<br>\n<br>\nEsta es una cuenta de correo no monitoreada por favor no responda a este mensaje, es un envío automático.<br>\n<br>\nGracias<br>\n<br>\nCelula Analitica para Mercado de Capitales<br>\nDelegatura Adjunta para Mercado de Capitales<br>\nSuperintendencia Financiera de Colombia - 100 Años &nbsp;<br>\nConmutador: +57 6015940200 ext 4546<br>\nCalle 7 No. 4 -49 Bogotá D.C., Colombia www.superfinanciera.gov.co<br>\n</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"7887b44d-a20d-444b-8d38-ae4d5bdb19d4"},"type":"Foreach"},"Actualizar_elemento_3":{"runAfter":{"Aplicar_a_cada_uno_3":["Succeeded"]},"metadata":{"operationMetadataId":"01e3c480-0575-43e3-93b4-40acd8bea794"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://superfinanciera.sharepoint.com/sites/Formulario","table":"7c35e25a-c2aa-4ec0-9255-f19a8153c10c","id":"@outputs('Crear_elemento_3')?['body/ID']","item/Estado/Value":"Rechazado"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Iniciar_y_esperar_una_aprobación_de_texto_2')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"503dc4b1-3bb2-4ae1-8b73-90f80aaba1c7"},"type":"If"}}},"expression":{"or":[{"equals":["@variables('ControlCaracteres')['body']['r0f932cf4639e45c89728e219373a8b66']","Informe 17"]},{"equals":["@variables('ControlCaracteres')['body']['r0f932cf4639e45c89728e219373a8b66']","Informe 19"]},{"equals":["@variables('ControlCaracteres')['body']['r0f932cf4639e45c89728e219373a8b66']","Informe 66"]},{"equals":["@variables('ControlCaracteres')['body']['r0f932cf4639e45c89728e219373a8b66']","Informe 22"]}]},"metadata":{"operationMetadataId":"7aa9c243-10c0-485c-b54f-2f3cb4d05347"},"type":"If"}}},"expression":{"greater":["@length(variables('ControlCaracteres')['body']['r0a0d73281d8f41f0b31893f2b85f7267'])",255]},"metadata":{"operationMetadataId":"6e2e2e4f-4f8a-400d-95f9-b1cd49ef6c02"},"type":"If"}}}},"default":{"actions":{}},"expression":"@outputs('Obtener_los_detalles_de_la_respuesta')?['body/rd11ddf275e804489b67a1177b24fd661']","metadata":{"operationMetadataId":"1625c3bb-7d56-4d49-b384-15a55d3fa61d"},"type":"Switch"}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-0aec206e-a779-44cc-bd0f-b1113486bbb7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"d0b7ac86cd4344c2b99c2979f3732442","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365_1":{"connectionName":"shared-office365-902375ef-5c9a-45b6-a125-d9f4a3f8a3e2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-334f069f-43a6-40ae-a22e-6f320ed0ed17","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-96052e99-3b1a-4a28-a3cc-a374e0e90eb7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-b53a6892-9ada-45f7-9f5f-d67f2b96ccb6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-18865080-ea8f-4d4d-9b88-37d472059e09","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}