Descarga CSV - Notificacion/Microsoft.Flow/flows/663ace0d-f932-4e4a-90f1-71e2f9087bde/definition.json
{"name":"f2885a9d-f461-4d27-9c13-56425db1d6f4","id":"/providers/Microsoft.Flow/flows/f2885a9d-f461-4d27-9c13-56425db1d6f4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Exportar_Archivo","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4776ce90-731b-41fa-97f6-c5bab47841cc","type":"User","tenantId":"eafff98e-79a5-4bb5-918f-0a7a14c4bbef"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-12-15T14:33:11.963891Z","connectionKeySavedTimeKey":"2023-12-15T14:33:11.963891Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"operationMetadataId":"54b78259-1221-48c5-83d9-14b4308da81f"},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"Power BI values":{"title":"Power BI data","type":"array"}},"required":["Power BI values"]}},"required":["entity"]}}},"required":["rows"]},"headersSchema":{"x-ms-user-email-encoded":{"title":"Correo electr칩nico del usuario","type":"string","format":"byte","x-ms-dynamically-added":false}},"host":{"connection":{"name":"@parameters('$connections')['shared_powerbi']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-westus-01.azure-apim.net/apim/powerbi"}},"operationId":"PowerBiButtonClicked","parameters":{"inputsPowerBiData":"{}","pbi_source":"powerAutomate"}}}},"actions":{"Crear_tabla_CSV":{"runAfter":{"Redactar":["Succeeded"]},"metadata":{"operationMetadataId":"b68d99e0-4b1d-4ea8-a977-0f9f8927157b"},"type":"Table","inputs":{"from":"@outputs('Redactar')","format":"CSV"}},"Redactar":{"runAfter":{},"metadata":{"operationMetadataId":"ac4c6a5b-e546-4a6f-9f6f-2e0d9c2fb746"},"type":"Compose","inputs":"@triggerBody()?['entity']?['Power BI values']"},"Crear_archivo":{"runAfter":{"Crear_tabla_CSV":["Succeeded"]},"metadata":{"operationMetadataId":"372891f9-57fe-48d1-9690-f6a1ce085770"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Apps/Documentacion_Forms/04_Informes_Formatos","name":"@concat(utcNow('MM'),utcNow('dd'),utcNow('yyyy'),'_Datos_Solip.csv')","body":"@body('Crear_tabla_CSV')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Enviar_correo_electr칩nico_(V2)":{"runAfter":{"Redactar_2":["Succeeded"]},"metadata":{"operationMetadataId":"1c11dc0b-79a2-49b5-b1bd-eae980748a86"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Redactar_2')","emailMessage/Subject":"@{concat(utcNow('MM'),utcNow('dd'),utcNow('yyyy'))}_Datos_Solip","emailMessage/Body":"<p><span style=\"font-family: arial; font-size: 14px\">Buenos dias,<br>\n<br>\nDe acuerdo con la solicitud generada en el reporte de Solip, se adjunta un archivo csv con los datos que se encuentran en el reporte.<br>\n<br>\nMuchas gracias<br>\n<br>\nCelula Analitica Mercado de Capitales<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>Delegatura Adjunta para Mercado de Capitales<br>\n</strong></span><span style=\"font-family: arial; font-size: 14px\">Superintendencia Financiera de Colombia - 100 A침os &nbsp;<br>\nConmutador: +57 6015940200 exts.3001<br>\nCalle 7 No. 4 -49 Bogot치 D.C., Colombia www.superfinanciera.gov.co </span></p>","emailMessage/From":"noreplaydamc@superfinanciera.gov.co","emailMessage/Attachments":[{"Name":"@concat(utcNow('MM'),utcNow('dd'),utcNow('yyyy'),'_Datos_Solip.csv')","ContentBytes":"@body('Crear_tabla_CSV')"}],"emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Redactar_2":{"runAfter":{"Crear_archivo":["Succeeded"]},"metadata":{"operationMetadataId":"63e705ac-b8c5-4328-9bdf-a214c202a111"},"type":"Compose","inputs":"@triggerOutputs()['headers']['x-ms-user-email-encoded']"}}},"connectionReferences":{"shared_powerbi":{"connectionName":"shared-powerbi-88f75ccd-2811-455e-a040-386279094bb3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerbi","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-b53a6892-9ada-45f7-9f5f-d67f2b96ccb6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-96052e99-3b1a-4a28-a3cc-a374e0e90eb7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}